.bigContainer{
    display: flex;
    flex-direction: row;  
    width: 100%;
}
.firstContainer{
    width: 40%;
    background-color: #5F8D4E;
    height: 100vh;

}
.SecContainer{
    width: 60%;
    background-color:#285430;
    height: 900px; 
    /* position: relative;  */
}
.Login-button{
    display: flex;
    column-gap: 20px;
    max-width:385px;
    justify-content: space-between;
    margin: auto;
    margin-left: 20px;
}
.ScreenDiv{
    margin-left: 25px;
    max-width: 400px;
    margin-top: 40px; 
}
.Box{
    display: flex;
    column-gap: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    color: #E6E5A3;
   
}

@media only screen and (max-width: 320px) and (max-width: 768px)
{
    .Login-button{
        display: flex;
        flex-direction: column; 
        margin-left: 15px; 
        
    }
  .bigContainer{
    width: 100%;
}
.firstContainer{
display: none;
}
.SecContainer{
  width: 100%;
  background-color:#285430;
  height: 900px;
}

}